@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  box-shadow: 2px 15px 18px 3px #b4eaf9;
  -webkit-box-shadow: 2px 15px 18px 3px #b4eaf9;
  -moz-box-shadow: 2px 15px 18px 3px #b4eaf9;
}

.head {
  font-family: "Outfit", sans-serif;
}

.body {
  font-family: "Switzer", sans-serif;
}
